@model IEnumerable<DataBase.Model.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row mb-3">
    <div class="col-12 text-right">
        <div id="CreateBtn" class="btn btn-success">
            Dodaj użytkownika
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pesel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlaceOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Workplace)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Permission.Name)
                    </td>
                    <td class="d-inline-flex justify-content-center">
                        <button class="EditBtn btn btn-primary btn-sm mr-2" value="@item.Id">Edytuj</button>
                        <button class="DeleteBtn btn btn-danger btn-sm" data-login="@item.Login" value="@item.Id">Usuń</button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#CreateBtn').click(function () {
                OpenWindow(window.location.href + 'Users/Create', 'Dodaj użytkownika', 900, 700);
            })
            $('.EditBtn').click(function () {
                OpenWindow(window.location.href + 'Users/Edit?id=' + this.value, 'Edytuj użytkownika', 900, 700);
            })
            $('.DeleteBtn').click(function () {
                var name = $(this).attr('data-login');
                var r = confirm("Czy chcesz usunąć użytkownika: " + name);
                if (r == true) {

                    $.post("Users/Delete?id=", { id: parseInt(this.value)})
                        .done(res => {
                            if (res === "OK")
                                location.reload();
                        })
                        .fail(() => {
                            alert("Wystąpił błąd w połączeniu");
                        })
                }
            })

        })

        var OpenWindow = function  (url, title, w, h) {
            var left = (screen.width / 2) - (w / 2);
            var top = (screen.height / 2) - (h / 2);
            return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
        };



    </script>
}